zone = "{{ zone }}"
folder_id = "{{ folder_id }}"
cloud_id = "{{ cloud_id }}"
path_to_authorized_key = "{{ path_to_authorized_key }}"
ssh_path = "{{ ssh_public_key }}"
ssh_user = "{{ ssh_user }}"
ubuntu_image_id = "{{ ubuntu_image_id }}"

db_user = "{{ db_user }}"
db_password = "{{ db_password }}"

domain_zone = "{{ domain_zone }}"
domain = "{{ domain }}"

datadog_api_key = "{{ datadog_api_key }}"
datadog_api_url = "{{ datadog_api_url }}"
datadog_app_key = "{{ datadog_app_key }}"