---
- name: Generate Terraform variables file
  hosts: terraform
  gather_facts: false
  tags: terraform
  vars:
    terraform_vars_path: "../terraform/terraform.auto.tfvars"
  tasks:
    - name: Generate terraform.auto.tfvars
      ansible.builtin.template:
        src: terraform.tfvars.j2
        dest: "{{ terraform_vars_path }}"
        mode: u=rw,g=r,o=r

- name: Install monitoring and redmine on all hosts
  hosts: webservers
  become: true
  gather_facts: true

  roles:
    - role: datadog.dd.agent

  tasks:
    - name: Create Redmine env file
      ansible.builtin.template:
        src: redmine.env.j2
        dest: /root/redmine.env
        mode: u=rw,go=

    - name: Run Redmine container
      community.docker.docker_container:
        name: redmine
        image: redmine:6.1.0
        state: started
        restart_policy: always
        ports:
          - "{{ redmine_port }}:3000"
        env_file: /root/redmine.env
